
@media (min-width: 800px) {
    .header {
      position: fixed;

    }
    

    .nav-toggle {
        display: none;
    }
  
    .nav {
        position: static;
        transform: none;
        flex-direction: row;
        background: none;
        justify-content: flex-end;
        backdrop-filter: blur(0);
        gap: 2rem;
    }
  
    .nav-link {
        font-size: 1em;
        margin: 0;
    }

    .filters {
        flex-direction: row;
        max-width: 700px;
    }

    .category-grid{
        max-width: 1100px;
        margin: auto;
        display:grid;
        padding: 20px;
        grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
        gap:24px;
    }

}

  