
@media (min-width: 800px) {
    
    .recommended-categories .categories-container {
        max-width: 1100px;
        width: 100%;
        display: flex;
        flex-direction: column; 
        align-items: center;  
        gap: 3rem;
        padding-top: 8rem;
        padding-bottom: 8rem;

        
    }
    .two-column-section {
        padding: 8rem 2rem;

    }
    h1 {
        font-size: 2rem;
    
    }
    .page-title {
        margin-top: 6rem;
        margin-bottom: 2rem;
    }

    .nav-toggle {
        display: none;
    }
  
    .nav {
        position: static;
        transform: none;
        flex-direction: row;
        background: none;
        justify-content: flex-end;
        backdrop-filter: none;
        gap: 2rem;
    }
  
    .nav-link {
        font-size: 1em;
        margin: 0;
    }




    .filter-group .filter-options {
        display: flex !important;
        flex-direction: column;
        gap: 8px;
    }

    .desktop {
        align-items: start;
        display: grid;
        grid-template-columns: 260px 1fr; /* filters | courses */
        gap: 25px;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 20px; /* <--- add horizontal space from edges */
        box-sizing: border-box;
    }


    .filters {
        max-width: 280px !important;
        width: 100%;
        padding-bottom: 2.5rem;

    }

    .courses-grid {
        align-content: start;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        padding: 0;
        min-width: 0;
    }

    .categories-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    column-gap:3rem; 
    align-items: start;   
    }

    .categories-right{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap:1.5rem;
        
    }

    .course-mini-card{ flex-basis: 85%; } /* 1 card σχεδόν full */


      

}
@media (min-width: 1050px) {
    .recommended-categories .categories-container {
        max-width: 1100px;
        flex-direction: row; 
        

    }

    .categories-left {
        align-items: start;
        gap: 2rem;
    }
}


.fade-section{
    opacity:0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-section.is-visible{
    opacity: 1;
    transform: translateY(0);
}