
@media (min-width: 800px) {

    .page-title {
        margin-top: 6rem;
        margin-bottom: 2rem;
    }

    .nav-toggle {
        display: none;
    }
  
    .nav {
        position: static;
        transform: none;
        flex-direction: row;
        background: none;
        justify-content: flex-end;
        backdrop-filter: none;
        gap: 2rem;
    }
  
    .nav-link {
        font-size: 1em;
        margin: 0;
    }




    .filter-group .filter-options {
        display: flex !important;
        flex-direction: column;
        gap: 8px;
    }

    .desktop {
        align-items: start;
        display: grid;
        grid-template-columns: 260px 1fr; /* filters | courses */
        gap: 25px;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 20px; /* <--- add horizontal space from edges */
        box-sizing: border-box;
    }


    .filters {
        max-width: 280px !important;
        width: 100%;
    }

    .courses-grid {
        align-content: start;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        padding: 0;
        min-width: 0;
    }

}

.category-grid{
        max-width: 1100px;
        margin: 0 auto 40px auto;
        display:grid;
        padding:20px;
        grid-template-columns:repeat(auto-fill, minmax(260px,1fr));
        gap:24px;
    }

    .fade-section{
        opacity:0;
        transform: translateY(20px);
        transition: opacity 0.8s ease, transform 0.8s ease;
    }

    .fade-section.is-visible{
        opacity: 1;
        transform: translateY(0);
    }