
@media (min-width: 800px) {
    .header {
      position: relative;
      background:var(--primary);

    }
  
    .nav-toggle {
        display: none;
    }
  
    .nav {
        position: static;
        transform: none;
        flex-direction: row;
        background: none;
        justify-content: flex-end;
        gap: 2rem;
    }
  
    .nav-link {
        font-size: 1em;
        margin: 0;
    }

    .filters {
        flex-direction: row;
        max-width: 700px;
    }
  }