*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    line-height: 1;
    font-family: inherit;
    background: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: normal;
}

li, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}



