:root {
    --primary: #e4dbdb;
    --primary-dark: #5a4f4f;
    --secondary-blue: #c9c7b8;
    --secondary-teal: #d8cfc4;
    --accent-orange: #f3e2c6;
    --bg-light: #f9f5ef;
    --gray-light: #e8e1d9;
    --gray-medium: #b7aa9f;
    --text-dark: #3a2f2b;
    --text-medium: #6a5e56;
    --card-bg: #ffffff;
    --footer-bg: #2e2420;
    --shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.08);
    --radius: 12px;
}
html {
    height: 100%;
    min-height: 100vh;
}
* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background: var(--bg-light);
    color: var(--text-medium);
    font-family: Arial, sans-serif;
}
#video-overlay {
    z-index: 999999 !important;
    isolation: isolate;
}
.nav-toggle {
    z-index: 2500;
}
.header {
    z-index: 1000;
}
.nav {
    z-index: 1400;
}
p {
    margin: 0;
}
ul {
    margin-bottom: 0;
}
*::-webkit-scrollbar {
    width: 11px;
}
*::-webkit-scrollbar-track {
    background: #f3f3f3;
}
*::-webkit-scrollbar-thumb {
    background: #AFA4A5;
    border-radius: 8px;
}
.recommended-categories {
    background-color: var(--secondary-teal);
}
/* Hide scrollbar for Chrome, Safari, Opera */
.slider-track::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge */
.slider-track {
    -ms-overflow-style: none;
}

/* Hide scrollbar for Firefox */
.slider-track {
    scrollbar-width: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
h1, h2, h3 {
    color: var(--text-dark);
}
h1 {
    font-size: 1.6rem;
}
.back-btn {
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    color: var(--primary-dark);
    font-weight: 600;
}
.page-title {
    position: relative;
    z-index: 10;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--primary-dark);
    font-size: 2rem;
}
.burger div {
    background: var(--primary-dark);
}
.btn-primary {
    max-width: fit-content;
    background: var(--primary);
    color: white;
    border: none;
    padding: 0.75em 1.4em;
    border-radius: var(--radius);
    box-shadow: var(--shadow-soft);
    cursor: pointer;
    transition: 0.25s ease;
}
.btn-course-detail {
    margin: 2rem;
}
.btn-primary:hover {
    background: var(--primary-dark);
}
.btn-outline {
    background: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
    border-radius: 10px;
    padding: 0 10px;
}
.btn-outline:hover {
    background: var(--gray-light);
}
.card {
    background: var(--card-bg);
    border-radius: var(--radius);
    box-shadow: var(--shadow-soft);
}
.nav-link, a {
    color: var(--text-dark);
    text-decoration: none;
}
.nav-link:hover, a:hover {
    color: var(--secondary-blue);
}
footer {
    background: var(--primary);
    padding: 2em;
    margin: 0;
    text-align: center;
}
