<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header eLearn</title>

</head>
<body>

 
<header class="header flex">

    <a href="index.html" class="logo">
        <img src="../../frontend/assets/img/logo.png" alt="Logo">
    </a>

    <div class="header-right">

    <button class="nav-toggle" aria-controls="nav" aria-expanded="false">
        <input type="checkbox" id="menu_checkbox">
        <label for="menu_checkbox" class="burger">
            <div></div>
            <div></div>
            <div></div>
        </label>
        <span class="sr-only">Menu</span>
    </button>

    <nav>
        <ul class="nav flex" data-visible="false">
            <li><a href="index.html" class="nav-link">Home</a></li>
            <li><a href="courses.html" class="nav-link">Courses</a></li>
            <li><a href="books.html" class="nav-link">Books</a></li>
            <li><a href="about.html" class="nav-link">About</a></li>
            <li><a href="register.html" class="nav-link">Register</a></li>
        </ul>
    </nav>
    </div>
</header>

</body>
</html>
